.metadata

**/.settings
**/.gitignore
**/*.RELEASE
**/lib/
**/classes/

## Project specific files:
IntegratedAlarmSystemRoot
/Logging/extTools/logback*

#### For exceptions stop ignoring using '!<file_to_stop_ignoring>'. E.g:
#### !Cdb/extTools/antlr-2.7.7.jar
