.metadata

**/.settings
**/*.RELEASE
**/build/
**/c4che
.cache-*
ias.iml
.idea/
.gradle

## Project specific files:
IntegratedAlarmSystemRoot
/Logging/extTools/logback*

#### For exceptions stop ignoring using '!<file_to_stop_ignoring>'. E.g:
#### !Cdb/extTools/antlr-2.7.7.jar
/nohup.out
