# The list of folders of a module
#
# Scripts like createModuleStructure.py do not have
# such list hardcoded but must read it from here
src/main
src/main/scala
src/main/java
src/main/python
src/main/resources
src/test
src/test/scala
src/test/java
src/test/python
src/test/resources
src/test/cdb
bin
lib
lib/python
lib/ExtTools
extTools
classes
config
logs
apidocs
