# The list of folders of a module
#
# Scripts like createModuleStructure.py do not have
# such list hardcoded but must read it from here
src
src/scala
src/java
src/python
src/resources
test
test/scala
test/java
test/python
test/resources
test/cdb
test/cdb/Supervisor
test/cdb/Dasus
test/cdb/Asce
test/cdb/Iasio
bin
lib
lib/python
lib/ExtTools
extTools
classes
config
logs
apidocs